.custom-slider .slick-slide > div {
  margin: 0 15px; /* Adjust the margin for spacing between slides */
}

.slick-list {
  margin: 0 -15px; /* Prevents horizontal overflow */
}


/* Custom arrow buttons */
.custom-next-arrow,
.custom-prev-arrow {
  background: #127c71;
  color: white;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-next-arrow:hover,
.custom-prev-arrow:hover {
  background: #0a554d; /* Darker shade on hover */
}
